.rz-column-drag, .rz-datatable-loading-content .rzi-circle-o-notch, .rz-datatable-header .rzi-plus, .rz-sortable-column .rzi-grid-sort, .rz-datatable .rzi-chevron-circle-down, .rz-datatable .rzi-chevron-circle-right, .rz-fileupload-row .rz-button .rzi-close, .rz-fileupload-row .rz-button .rzi-times, .rz-fileupload-row .rz-button .rz-icon-trash, .rz-menuitem .rz-menuitem-icon, .rzi {

    font-size:14px!important;
}
.responsive-table-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

    .responsive-table-wrapper table {
        min-width: 1200px; /* vagy amennyi kell */
    }
.mobile-dayname-header {
    line-height: 32px;
    position: relative;
    z-index: 5;
    color: var(--gm3-sys-color-on-surface-variant);
    font-size: 11px;
    font-weight: 500;
    letter-spacing: .8px;
    margin-left: 0;
    margin-top: 8px;
    text-transform: uppercase;
}

.mobile-day-header {
    font-size: 26px;
    line-height: 46px;
    color: #444746;
}
@media screen and (max-width: 1000px) {
    .rz-grid-table {
        min-width: 1200px !important;
    }

    .mobile-dayname-header {
        line-height: 32px;
        position: relative;
        z-index: 5;
        color: var(--gm3-sys-color-on-surface-variant);
        font-size: 11px;
        font-weight: 500;
        letter-spacing: .8px;
        margin-left: 0;
        margin-top: 8px;
        text-transform: uppercase;
    }

    .mobile-day-header {
        font-size: 26px;
        line-height: 46px;
        color: #444746;
    }
}
