/* /Components/Buses/BusHistoryDialog.razor.rz.scp.css */
.content[b-4c3be8cd0u] {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--spacing-200, 8px);
    flex: 1 0 0;
    align-self: stretch;
    padding-top: var(--spacing-600, 24px);
    padding-right: var(--spacing-800, 32px);
    padding-bottom: var(--spacing-1000, 40px);
    padding-left: var(--spacing-800, 32px);
}


.flex-button[b-4c3be8cd0u] {
    display: flex;
    padding: var(--spacing-0, 0px);
    align-items: center;
    gap: var(--spacing-200, 8px);
    align-self: stretch;
    padding: var(--spacing-300, 12px) var(--spacing-800, 32px) var(--spacing-600, 24px) var(--spacing-800, 32px);
    border-top: var(--border-width-base, 1px) solid var(--border-neutral-divider, rgba(48, 84, 133, 0.20));
    background: var(--background-neutral-subtle, #FFF);
    justify-content: flex-end;
}
/* /Components/Buses/CreateBusDialog.razor.rz.scp.css */
.content[b-k53am0d39k] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-200, 8px);
    flex: 1 0 0;
    align-self: stretch;
    padding-top: var(--spacing-600, 24px);
    padding-right: var(--spacing-800, 32px);
    padding-bottom: var(--spacing-1000, 40px);
    padding-left: var(--spacing-800, 32px);
}

.form-input[b-k53am0d39k] {
    width: 100%;
}

.flex-button[b-k53am0d39k] {
    display: flex;
    padding: var(--spacing-0, 0px);
    align-items: center;
    gap: var(--spacing-200, 8px);
    align-self: stretch;
    padding: var(--spacing-300, 12px) var(--spacing-800, 32px) var(--spacing-600, 24px) var(--spacing-800, 32px);
    border-top: var(--border-width-base, 1px) solid var(--border-neutral-divider, rgba(48, 84, 133, 0.20));
    background: var(--background-neutral-subtle, #FFF);
    justify-content: space-between;
}
/* /Components/Buses/UpdateBusDialog.razor.rz.scp.css */
.content[b-zwcqyqv3i5] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-200, 8px);
    flex: 1 0 0;
    align-self: stretch;
    padding-top: var(--spacing-600, 24px);
    padding-right: var(--spacing-800, 32px);
    padding-bottom: var(--spacing-1000, 40px);
    padding-left: var(--spacing-800, 32px);
}

.form-input[b-zwcqyqv3i5] {
    width: 100%;
}

.flex-button[b-zwcqyqv3i5] {
    display: flex;
    padding: var(--spacing-0, 0px);
    align-items: center;
    gap: var(--spacing-200, 8px);
    align-self: stretch;
    padding: var(--spacing-300, 12px) var(--spacing-800, 32px) var(--spacing-600, 24px) var(--spacing-800, 32px);
    border-top: var(--border-width-base, 1px) solid var(--border-neutral-divider, rgba(48, 84, 133, 0.20));
    background: var(--background-neutral-subtle, #FFF);
    justify-content: space-between;
}
/* /Components/ConfirmDialog.razor.rz.scp.css */
.content[b-ctd6noodzw] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-200, 8px);
    flex: 1 0 0;
    align-self: stretch;
    padding-top: var(--spacing-600, 24px);
    padding-right: var(--spacing-800, 32px);
    padding-bottom: var(--spacing-1000, 40px);
    padding-left: var(--spacing-800, 32px);
}


.flex-button[b-ctd6noodzw] {
    display: flex;
    padding: var(--spacing-0, 0px);
    align-items: center;
    gap: var(--spacing-200, 8px);
    align-self: stretch;
    padding: var(--spacing-300, 12px) var(--spacing-800, 32px) var(--spacing-600, 24px) var(--spacing-800, 32px);
    border-top: var(--border-width-base, 1px) solid var(--border-neutral-divider, rgba(48, 84, 133, 0.20));
    background: var(--background-neutral-subtle, #FFF);
    justify-content: space-between;
}
/* /Components/Drivers/CreateDriverDialog.razor.rz.scp.css */
.content[b-aycljy1osd] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-200, 8px);
    flex: 1 0 0;
    align-self: stretch;
    padding-top: var(--spacing-600, 24px);
    padding-right: var(--spacing-800, 32px);
    padding-bottom: var(--spacing-1000, 40px);
    padding-left: var(--spacing-800, 32px);
}
.form-input[b-aycljy1osd]{
    width:100%;

}
.flex-button[b-aycljy1osd] {
    display: flex;
    padding: var(--spacing-0, 0px);
    align-items: center;
    gap: var(--spacing-200, 8px);
    align-self: stretch;
    padding: var(--spacing-300, 12px) var(--spacing-800, 32px) var(--spacing-600, 24px) var(--spacing-800, 32px);
    border-top: var(--border-width-base, 1px) solid var(--border-neutral-divider, rgba(48, 84, 133, 0.20));
    background: var(--background-neutral-subtle, #FFF);
    justify-content: space-between;
}
/* /Components/Drivers/UpdateDriverDialog.razor.rz.scp.css */
.content[b-xt83tdho2r] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-200, 8px);
    flex: 1 0 0;
    align-self: stretch;
    padding-top: var(--spacing-600, 24px);
    padding-right: var(--spacing-800, 32px);
    padding-bottom: var(--spacing-1000, 40px);
    padding-left: var(--spacing-800, 32px);
}

.form-input[b-xt83tdho2r] {
    width: 100%;
}

.flex-button[b-xt83tdho2r] {
    display: flex;
    padding: var(--spacing-0, 0px);
    align-items: center;
    gap: var(--spacing-200, 8px);
    align-self: stretch;
    padding: var(--spacing-300, 12px) var(--spacing-800, 32px) var(--spacing-600, 24px) var(--spacing-800, 32px);
    border-top: var(--border-width-base, 1px) solid var(--border-neutral-divider, rgba(48, 84, 133, 0.20));
    background: var(--background-neutral-subtle, #FFF);
    justify-content: space-between;
}
/* /Components/Event/ConflictedEventDialog.razor.rz.scp.css */
.content[b-ffm65sb13m] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-200, 8px);
    flex: 1 0 0;
    align-self: stretch;
    padding-top: var(--spacing-600, 24px);
    padding-right: var(--spacing-800, 32px);
    padding-bottom: var(--spacing-1000, 40px);
    padding-left: var(--spacing-800, 32px);
}

.form-input[b-ffm65sb13m] {
    width: 100%;
}

.flex-button[b-ffm65sb13m] {
    display: flex;
    padding: var(--spacing-0, 0px);
    align-items: center;
    gap: var(--spacing-200, 8px);
    align-self: stretch;
    padding: var(--spacing-300, 12px) var(--spacing-800, 32px) var(--spacing-600, 24px) var(--spacing-800, 32px);
    border-top: var(--border-width-base, 1px) solid var(--border-neutral-divider, rgba(48, 84, 133, 0.20));
    background: var(--background-neutral-subtle, #FFF);
    justify-content: space-between;
}
/* /Components/Event/CreateEventDialog.razor.rz.scp.css */
.content[b-tkla8igttp] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-200, 8px);
    flex: 1 0 0;
    align-self: stretch;
    padding-top: var(--spacing-600, 24px);
    padding-right: var(--spacing-800, 32px);
    padding-bottom: var(--spacing-1000, 40px);
    padding-left: var(--spacing-800, 32px);
}

.form-input[b-tkla8igttp] {
    width: 100%;
}

.flex-button[b-tkla8igttp] {
    display: flex;
    padding: var(--spacing-0, 0px);
    align-items: center;
    gap: var(--spacing-200, 8px);
    align-self: stretch;
    padding: var(--spacing-300, 12px) var(--spacing-800, 32px) var(--spacing-600, 24px) var(--spacing-800, 32px);
    border-top: var(--border-width-base, 1px) solid var(--border-neutral-divider, rgba(48, 84, 133, 0.20));
    background: var(--background-neutral-subtle, #FFF);
    justify-content: space-between;
}
/* /Components/Event/UpdateEventDialog.razor.rz.scp.css */
.content[b-l8xuajyig6] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-200, 8px);
    flex: 1 0 0;
    align-self: stretch;
    padding-top: var(--spacing-600, 24px);
    padding-right: var(--spacing-800, 32px);
    padding-bottom: var(--spacing-1000, 40px);
    padding-left: var(--spacing-800, 32px);
}

.form-input[b-l8xuajyig6] {
    width: 100%;
}

.flex-button[b-l8xuajyig6] {
    display: flex;
    padding: var(--spacing-0, 0px);
    align-items: center;
    gap: var(--spacing-200, 8px);
    align-self: stretch;
    padding: var(--spacing-300, 12px) var(--spacing-800, 32px) var(--spacing-600, 24px) var(--spacing-800, 32px);
    border-top: var(--border-width-base, 1px) solid var(--border-neutral-divider, rgba(48, 84, 133, 0.20));
    background: var(--background-neutral-subtle, #FFF);
    justify-content: space-between;
}
/* /Components/Holiday/CreateHolidayDialog.razor.rz.scp.css */
.content[b-73ai8em2r8] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-200, 8px);
    flex: 1 0 0;
    align-self: stretch;
    padding-top: var(--spacing-600, 24px);
    padding-right: var(--spacing-800, 32px);
    padding-bottom: var(--spacing-1000, 40px);
    padding-left: var(--spacing-800, 32px);
}

.form-input[b-73ai8em2r8] {
    width: 100%;
}

.flex-button[b-73ai8em2r8] {
    display: flex;
    padding: var(--spacing-0, 0px);
    align-items: center;
    gap: var(--spacing-200, 8px);
    align-self: stretch;
    padding: var(--spacing-300, 12px) var(--spacing-800, 32px) var(--spacing-600, 24px) var(--spacing-800, 32px);
    border-top: var(--border-width-base, 1px) solid var(--border-neutral-divider, rgba(48, 84, 133, 0.20));
    background: var(--background-neutral-subtle, #FFF);
    justify-content: space-between;
}
/* /Components/Holiday/UpdateHolidayDialog.razor.rz.scp.css */
.content[b-58xk6b41hq] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-200, 8px);
    flex: 1 0 0;
    align-self: stretch;
    padding-top: var(--spacing-600, 24px);
    padding-right: var(--spacing-800, 32px);
    padding-bottom: var(--spacing-1000, 40px);
    padding-left: var(--spacing-800, 32px);
}

.form-input[b-58xk6b41hq] {
    width: 100%;
}

.flex-button[b-58xk6b41hq] {
    display: flex;
    padding: var(--spacing-0, 0px);
    align-items: center;
    gap: var(--spacing-200, 8px);
    align-self: stretch;
    padding: var(--spacing-300, 12px) var(--spacing-800, 32px) var(--spacing-600, 24px) var(--spacing-800, 32px);
    border-top: var(--border-width-base, 1px) solid var(--border-neutral-divider, rgba(48, 84, 133, 0.20));
    background: var(--background-neutral-subtle, #FFF);
    justify-content: space-between;
}
/* /Components/IconButton.razor.rz.scp.css */
.ep-icon-button[b-xuv7jmcda9] {
    width: 32px;
    height: 32px;
    padding: 16px;
    background: var(--transparent-black-subtle, rgba(0, 0, 0, 0.05));
    border-radius: 1000px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    border: none;
    cursor: pointer;
}

.disabled[b-xuv7jmcda9] {
    background: var(--back-disabled-color);
    cursor: pointer;
}

.ep-icon-button-container[b-xuv7jmcda9] {
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.ep-icon-button-button i[b-xuv7jmcda9] {
}
/* /Components/Services/CreateServiceDialog.razor.rz.scp.css */
.content[b-0rri48vf5o] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-200, 8px);
    flex: 1 0 0;
    align-self: stretch;
    padding-top: var(--spacing-600, 24px);
    padding-right: var(--spacing-800, 32px);
    padding-bottom: var(--spacing-1000, 40px);
    padding-left: var(--spacing-800, 32px);
}

.form-input[b-0rri48vf5o] {
    width: 100%;
}

.flex-button[b-0rri48vf5o] {
    display: flex;
    padding: var(--spacing-0, 0px);
    align-items: center;
    gap: var(--spacing-200, 8px);
    align-self: stretch;
    padding: var(--spacing-300, 12px) var(--spacing-800, 32px) var(--spacing-600, 24px) var(--spacing-800, 32px);
    border-top: var(--border-width-base, 1px) solid var(--border-neutral-divider, rgba(48, 84, 133, 0.20));
    background: var(--background-neutral-subtle, #FFF);
    justify-content: space-between;
}
/* /Components/Services/UpdateServiceDialog.razor.rz.scp.css */
.content[b-03hx4c0yne] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-200, 8px);
    flex: 1 0 0;
    align-self: stretch;
    padding-top: var(--spacing-600, 24px);
    padding-right: var(--spacing-800, 32px);
    padding-bottom: var(--spacing-1000, 40px);
    padding-left: var(--spacing-800, 32px);
}

.form-input[b-03hx4c0yne] {
    width: 100%;
}

.flex-button[b-03hx4c0yne] {
    display: flex;
    padding: var(--spacing-0, 0px);
    align-items: center;
    gap: var(--spacing-200, 8px);
    align-self: stretch;
    padding: var(--spacing-300, 12px) var(--spacing-800, 32px) var(--spacing-600, 24px) var(--spacing-800, 32px);
    border-top: var(--border-width-base, 1px) solid var(--border-neutral-divider, rgba(48, 84, 133, 0.20));
    background: var(--background-neutral-subtle, #FFF);
    justify-content: space-between;
}
/* /Components/TButton.razor.rz.scp.css */
button[b-0q69ni8drv] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    border-radius: 62rem;
    border: none;
    transition: .2s none;
}

    button i[b-0q69ni8drv] {
        line-height: 1.5;
        font-size: 1.1em;
    }

i[b-0q69ni8drv]::before {
    line-height: 1.5;
}

button.right-icon[b-0q69ni8drv] {
    flex-direction: row-reverse;
}

button.icon-only[b-0q69ni8drv] {
    padding: 0;
    font-weight: var(--weight-medium) !important;
}

    button.icon-only i[b-0q69ni8drv] {
        font-size: 1.25em;
    }

.primary[b-0q69ni8drv] {
    background: var(--color-primary);
    color: var(--color-text-on-primary);
    transition-property: background;
}

    .primary:hover[b-0q69ni8drv] {
        background: var(--color-primary-hover);
    }

    .primary:active[b-0q69ni8drv] {
        transition: none;
        background: var(--color-primary-active);
    }

    .primary:disabled[b-0q69ni8drv] {
        opacity: 0.2;
    }

.outline[b-0q69ni8drv] {
    color: var(--color-outline);
    box-shadow: inset 0 0 0 1px currentColor;
    background: none;
    transition-property: color;
    font-weight: var(--weight-bold);
}

    .outline:hover[b-0q69ni8drv] {
        color: var(--color-outline-hover);
    }

    .outline:active[b-0q69ni8drv] {
        transition: none;
        color: var(--color-outline-active);
    }

    .outline:disabled[b-0q69ni8drv] {
        color: var(--color-outline-disabled);
    }
/* Size section */
.xsmall[b-0q69ni8drv] {
    height: var(--spacing-600);
    min-width: var(--spacing-600);
    font-size: var(--size-xs);
    padding: var(--spacing-100);
}

.small[b-0q69ni8drv] {
    height: var(--spacing-800);
    min-width: var(--spacing-800);
    font-size: var(--size-sm);
    padding: var(--spacing-200);
}

.medium[b-0q69ni8drv] {
    height: 2.5rem;
    min-width: 2.5rem;
    font-size: var(--size-base);
    padding: .75rem;
}

.large[b-0q69ni8drv] {
    height: var(--spacing-1200);
    min-width: var(--spacing-1200);
    font-size: var(--size-lg);
    padding: var(--spacing-300);
}

.w-100[b-0q69ni8drv] {
    width: 100%;
}
/* /Components/Users/CreateUserDialog.razor.rz.scp.css */
.content[b-k09byweknm] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-200, 8px);
    flex: 1 0 0;
    align-self: stretch;
    padding-top: var(--spacing-600, 24px);
    padding-right: var(--spacing-800, 32px);
    padding-bottom: var(--spacing-1000, 40px);
    padding-left: var(--spacing-800, 32px);
}

.form-input[b-k09byweknm] {
    width: 100%;
}

.flex-button[b-k09byweknm] {
    display: flex;
    padding: var(--spacing-0, 0px);
    align-items: center;
    gap: var(--spacing-200, 8px);
    align-self: stretch;
    padding: var(--spacing-300, 12px) var(--spacing-800, 32px) var(--spacing-600, 24px) var(--spacing-800, 32px);
    border-top: var(--border-width-base, 1px) solid var(--border-neutral-divider, rgba(48, 84, 133, 0.20));
    background: var(--background-neutral-subtle, #FFF);
    justify-content: space-between;
}
/* /Components/Users/UpdateUserDialog.razor.rz.scp.css */
.content[b-ln8z9vjhew] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-200, 8px);
    flex: 1 0 0;
    align-self: stretch;
    padding-top: var(--spacing-600, 24px);
    padding-right: var(--spacing-800, 32px);
    padding-bottom: var(--spacing-1000, 40px);
    padding-left: var(--spacing-800, 32px);
}

.form-input[b-ln8z9vjhew] {
    width: 100%;
}

.flex-button[b-ln8z9vjhew] {
    display: flex;
    padding: var(--spacing-0, 0px);
    align-items: center;
    gap: var(--spacing-200, 8px);
    align-self: stretch;
    padding: var(--spacing-300, 12px) var(--spacing-800, 32px) var(--spacing-600, 24px) var(--spacing-800, 32px);
    border-top: var(--border-width-base, 1px) solid var(--border-neutral-divider, rgba(48, 84, 133, 0.20));
    background: var(--background-neutral-subtle, #FFF);
    justify-content: space-between;
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-x7mgtrlqih] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-x7mgtrlqih] {
    flex: 1;
}

.sidebar[b-x7mgtrlqih] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-x7mgtrlqih] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-x7mgtrlqih]  a, .top-row[b-x7mgtrlqih]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-x7mgtrlqih]  a:hover, .top-row[b-x7mgtrlqih]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-x7mgtrlqih]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

header[b-x7mgtrlqih] {
    background-color: #C39952;
    /* height: 3.5rem; */
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
    align-items: center;
    gap: 20px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
footer[b-x7mgtrlqih] {
    display:block;
}
.navbar-toggler[b-x7mgtrlqih] {
    background-color: #5E1D17;
}

.top-row[b-x7mgtrlqih] {
    height: 3.5rem;
    background-color: #5E1D17;
}
@media (max-width: 640.98px) {
    header[b-x7mgtrlqih] {
     display:none;
    }
    footer[b-x7mgtrlqih] {
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #C39952;
        color: white;
        text-align: center;
    }
    .top-row[b-x7mgtrlqih] {
        justify-content: space-between;
    }

    .top-row[b-x7mgtrlqih]  a, .top-row[b-x7mgtrlqih]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-x7mgtrlqih] {
        flex-direction: row;
    }

    .sidebar[b-x7mgtrlqih] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-x7mgtrlqih] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-x7mgtrlqih]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-x7mgtrlqih], article[b-x7mgtrlqih] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-5p33nqlnrs] {
    background-color: #5E1D17;
}

.top-row[b-5p33nqlnrs] {
    height: 3.5rem;
    background-color: #5E1D17;
    
}

.navbar-brand[b-5p33nqlnrs] {
    font-size: 1.1rem;
}

.bi[b-5p33nqlnrs] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-5p33nqlnrs] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-5p33nqlnrs] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-5p33nqlnrs] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-5p33nqlnrs] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-5p33nqlnrs] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-5p33nqlnrs] {
        padding-bottom: 1rem;
    }

    .nav-item[b-5p33nqlnrs]  a {
        color: #5E1D17;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-5p33nqlnrs]  a.active {
            background-color: rgba(255,255,255,0.37);
            color: #5E1D17;
        }

        .nav-item[b-5p33nqlnrs]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: #5E1D17;
           
        }
.nav-bg[b-5p33nqlnrs] {
    background-color: #C39952;
}
.nav-item-container[b-5p33nqlnrs] {
    display: flex;
    align-items: center;
    gap: 10px;
}
.user-box[b-5p33nqlnrs] {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info[b-5p33nqlnrs] {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
   
}
.avatar[b-5p33nqlnrs] {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
@media (min-width: 641px) {
    .navbar-toggler[b-5p33nqlnrs] {
        display: none;
    }

    .collapse[b-5p33nqlnrs] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-5p33nqlnrs] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/Buses.razor.rz.scp.css */
.floating-add[b-feav18uf4o] {
    position: absolute;
    right: 30px;
    top: 100px;
}
/* /Pages/Forgotpassword.razor.rz.scp.css */
.content[b-l8z7tfkkl3] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: center;
    align-items: center;
    justify-content: center;
}
/* /Pages/Login.razor.rz.scp.css */
.content[b-6os6a51pcw] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: center;
    align-items: center;
    justify-content: center;
}
/* /Pages/Register.razor.rz.scp.css */
.content[b-t34zdcv144] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: center;
    align-items: center;
    justify-content: center;
}
/* /Pages/ResetPassword.razor.rz.scp.css */
.content[b-dtkwz32fhs] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: center;
    align-items: center;
    justify-content: center;
}
/* /Pages/Scheduler.razor.rz.scp.css */
.main[b-i3wuiuzxrq] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

    .date-header[b-i3wuiuzxrq] {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fixed-column[b-i3wuiuzxrq] {
    position: sticky;
    left: 0;
    background-color: white; /* A háttér színének megadása, hogy kitakarja a görgetést */
    z-index: 10; /* Biztosítja, hogy a busz neve mindig a többi oszlop felett jelenjen meg */
    border-right: 2px solid #ddd; /* Elválasztás a többi oszloptól */
}

table[b-i3wuiuzxrq] {
    border-collapse: separate;
    border-spacing: 0;
    border-top: 1px solid grey;
    
}

td[b-i3wuiuzxrq], th[b-i3wuiuzxrq] {
    border: 1px solid #ccc;
    z-index: 1;
}
tbody[b-i3wuiuzxrq], td[b-i3wuiuzxrq], tfoot[b-i3wuiuzxrq], th[b-i3wuiuzxrq], thead[b-i3wuiuzxrq], tr[b-i3wuiuzxrq] {
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
}
    .scrollable-table[b-i3wuiuzxrq] {
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch; 
}


table[b-i3wuiuzxrq] {
    table-layout: fixed; 
}
.weekend[b-i3wuiuzxrq] {
    background-color: #CFD8DC;
}
.view-selection[b-i3wuiuzxrq] {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.week-navigation[b-i3wuiuzxrq] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
    .week-navigation span[b-i3wuiuzxrq] {
        color: var(--gm3-sys-color-on-surface);
        font: 400 22px / 28px "Google Sans", Roboto, Arial, sans-serif;
        letter-spacing: 0;
        white-space: nowrap;
    }
.view-container[b-i3wuiuzxrq] {
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
    justify-content: space-between;
 
}
.event-object[b-i3wuiuzxrq] {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sticky-cell[b-i3wuiuzxrq] {
    position: sticky;
    left: 0;
    z-index: 1;
    background: white;
}

.sticky-header[b-i3wuiuzxrq] {
    position: sticky;
    left: 0;
    z-index: 2;
    background: white;
}

.tooltiptext[b-i3wuiuzxrq] {

    position: absolute;
    top: 100%; /* vagy top: -100% ha fölé szeretnéd */
    left: 0;
    z-index: 1000;
    background-color: #333;
    color: white;
    padding: 6px;
    border-radius: 6px;
    white-space: nowrap;
    display: none;
}

.event-function[b-i3wuiuzxrq] {
    display:flex;
}
.bus-header[b-i3wuiuzxrq] {
    display:flex;
    flex: 1;
    min-width: 0;
    padding: 8px;
    min-height: 24px;
    color: #1C1F26;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    cursor: pointer;
    gap: 1rem;
}

.tooltiptext[b-i3wuiuzxrq]::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }
.custom-tooltip[b-i3wuiuzxrq] {
    max-width: 300px; /* Állítsd tetszőleges értékre */
    white-space: normal; /* Sorvégi tördelés engedélyezése */
    word-wrap: break-word; /* Régebbi böngészők támogatása */
    overflow-wrap: break-word; /* Modern szabvány */
}
div:hover > .tooltiptext[b-i3wuiuzxrq] {
    display: block;
    visibility: visible;
    opacity: 1;
}
.calendar-type-view[b-i3wuiuzxrq] {
    display: flex;
    gap: 10px;
}
@media screen and (max-width: 1000px) {
    .view-container[b-i3wuiuzxrq] {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
}
