.ep-icon-button[b-cre3fgnyp6] {
    width: 32px;
    height: 32px;
    padding: 16px;
    background: var(--transparent-black-subtle, rgba(0, 0, 0, 0.05));
    border-radius: 1000px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    border: none;
    cursor: pointer;
}

.disabled[b-cre3fgnyp6] {
    background: var(--back-disabled-color);
    cursor: pointer;
}

.ep-icon-button-container[b-cre3fgnyp6] {
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.ep-icon-button-button i[b-cre3fgnyp6] {
}
