@using Microsoft.AspNetCore.Components.Authorization
@using Terjeki.Scheduler.Web.Pages

@inherits LayoutComponentBase

<HeadContent>
    <RadzenTheme Theme="material" />
</HeadContent>
<RadzenComponents />

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>
    

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    
</div>
@code{
   
}