.content[b-kyz37eostr] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-200, 8px);
    flex: 1 0 0;
    align-self: stretch;
    padding-top: var(--spacing-600, 24px);
    padding-right: var(--spacing-800, 32px);
    padding-bottom: var(--spacing-1000, 40px);
    padding-left: var(--spacing-800, 32px);
}

.form-input[b-kyz37eostr] {
    width: 100%;
}

.flex-button[b-kyz37eostr] {
    display: flex;
    padding: var(--spacing-0, 0px);
    align-items: center;
    gap: var(--spacing-200, 8px);
    align-self: stretch;
    padding: var(--spacing-300, 12px) var(--spacing-800, 32px) var(--spacing-600, 24px) var(--spacing-800, 32px);
    border-top: var(--border-width-base, 1px) solid var(--border-neutral-divider, rgba(48, 84, 133, 0.20));
    background: var(--background-neutral-subtle, #FFF);
    justify-content: space-between;
}
